.starsfield, .starsfield-render {
    overflow: hidden;
    width: 90px;
    display: inline-block !important;
}
.starsfield .star, .starsfield-render .star {
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    float: left;
}
.starsfield .unselected, .starsfield-render .unselected {
    background-image: url('../images/Star0.png');
}
.starsfield .selected, .starsfield-render .selected {
    background-image: url('../images/Star1.png');
}